<div class="page about">
    <section class="section about__banner banner">
        <!-- <div class="banner__img">
             <img src="assets/img/banner-grey.png" />
        </div> -->
        <div class="main-container">
            <div class="banner__icon">
             <mat-icon [svgIcon]="'evacuator-loaded'"></mat-icon>
            </div>
            <h1 class="banner__title">Создание объявления</h1>
            <div class="banner__button">
                 <button class="btn btn--primary">ДОБАВИТЬ ОБЪЯВЛЕНИЕ</button>
            </div>
        </div>
    </section>
    <section class="section about__call call">
        <div class="main-container">
            <div class="section__blocks call__blocks">
                <div class="section__block call__block">
                    <div class="section__title">
                        <h2>Как вызвать эвакуатор в Москве дешево?</h2>
                    </div>
                    <div class="block__text">
                        <p>
                            Поломка авто или ДТП – случайностей на дороге много. Решение одно – вызвать эвакуатор 
                            и доставить неисправный автомобильна СТО/парковку или в гараж в Москве. 
                            С помощью онлайн-сервиса Эварус вы сможете заказать услугу эвакуатора в Москве (Московской области) максимально быстро 
                            и при этом сэкономить.
                        </p>
                        <br/>
                        <p>
                            Мы предоставляем доступ к базе коммерческих и частных эвакуаторов Москвы.
                             Это надежные компании, которые оперативно пришлют спецтехнику вам на помощь и обеспечат безопасную транспортировку авто.
                        </p>
                    </div>
                </div>
                <div class="section__block call__block">
                    <div class="block__img">
                        <img src="assets/img/about/call/pic-1.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section about__info info">
        <div class="main-container">
            <div class="section__title">
                <h2>Что нужно знать, чтобы заказать эвакуатор в Москве</h2>
            </div>
            <div class="section__blocks info__blocks">
                <div class="section__block info__block">
                    <div class="block__img">
                        <img src="assets/img/about/info/pic-1.png" />
                    </div>
                    <div class="block__text">
                        <p>
                            Заказы на вызов эвакуатора в Москве перевозчики-партнеры “Тут Эвакуатор” принимают круглосуточно. Когда бы вы не позвонили, эвакуатор найдется всегда. Размещая заказ на эвакуатор, ознакомьтесь с информацией о транспортной компании, проконсультируйтесь с ее специалистами и выберите оптимальный вариант перевозки своего ТС.
                        </p>
                    </div>
                </div>
                <div class="section__block info__block">
                    <div class="block__img">
                        <img src="assets/img/about/info/pic-2.png" />
                    </div>
                    <div class="block__text">
                        <p>
                            Примите во внимание, что одни и те же виды эвакуаторов рассчитаны на транспортировку авто разных классов. Вопрос заключается лишь в том, какой тип эвакуатор будет выгоднее задействовать в вашем случае. Следуя рекомендациям перевозчика, вы сможете недорого эвакуировать авто как в Москве, так и в области.                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section about__price price">
        <div class="main-container">
            <div class="section__title">
                <h2>Что входит в стоимость перевозки эвакуатором</h2>
            </div>
            <div class="block__text">
                <p>
                    Стоимость эвакуации включает в себя оплату услуг по погрузке, перевозке и выгрузке авто, а также по подаче эвакуатора в пункт дислокации ТС в Москве.
                    <br/>
                    <br/>
                    <b>При формировании цены перевозчики берут в расчет четыре аспекта:</b>
                </p>
            </div>
            <div class="block__list">
                <div class="block__listItem">
                    <img src="assets/img/about/price/pic-1.svg" />
                </div>
                <div class="block__listItem">
                    <img src="assets/img/about/price/pic-2.svg" />
                </div>
                <div class="block__listItem">
                    <img src="assets/img/about/price/pic-3.svg" />
                </div>
                <div class="block__listItem">
                    <img src="assets/img/about/price/pic-4.svg" />
                </div>
            </div>
        </div>
    </section>
    <section class="section about__advantage advantage">
        <div class="main-container">
            <div class="section__blocks">
                <div class="section__block">
                    <div class="section__title">
                        <h2>Преимущества онлайн-сервиса ТутЭвакуатор.Ру</h2>
                    </div>
                    <div class="block__text">
                        <p>
                            ТутЭвакуатор.Ру – это удобный сервис для тех, кому нужно недорого и быстро перевезти авто с техническими неисправностями или же с повреждениями, полученными при ДТП в Москве.
                            <br/>
                            <br/>
                            <b>Воспользовавшись ​ТутЭвакуатор.Ру, вы сможете:</b>
                        </p>
                    </div>
                    <div class="block__list">
                        <div class="block__listItem">
                            <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                            <span class="block__listItemText">получить постоянный доступ к базе надежных перевозчиков Москвы — сервис работает всегда, вне зависимости от воскресных/праздничных дней</span>
                        </div>
                        <div class="block__listItem">
                            <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                            <span class="block__listItemText">заказать эвакуатор круглосуточно — 24/7</span>
                        </div>
                        <div class="block__listItem">
                            <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                            <span class="block__listItemText">выбрать самое экономически выгодное предложение — цены на эвакуационные услуги рыночные, разница может быть ощутимой</span>
                        </div>
                        <div class="block__listItem">
                            <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                            <span class="block__listItemText">договориться с транспортной компанией напрямую — без посредников и комиссионных</span>
                        </div>
                        <div class="block__listItem">
                            <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                            <span class="block__listItemText">осуществить эвакуацию авто недорого — без скрытых платежей, неучтенных расходов</span>
                        </div>
                        <div class="block__listItem">
                            <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                            <span class="block__listItemText">вызвать эвакуатор в срочном порядке — охвачена Московская область, стоянки спецтехники базируются во многих районах Москвы, подача выполняется оперативно</span>
                        </div>
                    </div>
                </div>
                
                <div class="section__block section__block--withImg">
                    <div class="block__img">
                        <img src="assets/img/about/advantage/pic-1.png" />
                    </div>
                </div>
                
            </div>
            <div class="main-container">
                <div class="section__block float">
                    <div class="float__cards">
                        <div class="float__card">
                            <div class="float__cardTitle">
                                <h4>Как оплатить заказ на эвакуатор</h4>
                            </div>
                            <div class="float__cardText">
                                <p>
                                    Услуги по эвакуации вы оплачиваете непосредственно исполнителю – транспортной компании, взявшейся за перевозку вашего ТС. Оплата производится по завершении эвакуации, после выгрузки авто в конечной точке в Москве.
                                </p>
                                <br/>
                                <p>
                                    Формы оплаты стандартные для Москвы: наличный/безналичный расчет или банковский перевод. Эварус не взимает комиссионные с клиентов за пользование сервисом.
                                </p>
                            </div>
                        </div>
                        <div class="float__card">
                            <div class="float__cardTitle">
                                <h4>Как скоро прибудет эвакуатор</h4>
                            </div>
                            <div class="float__cardText">
                                <p>
                                    При оформлении заказа перевозчик сообщит вам расчетное время прибытия эвакуатора в точку погрузки авто. Как правило, в Москве это происходит в течение 10-15 мин., но зависит от загруженности дорог Москвы и погодных условий. Перевозчик, принявший заказ, будет информировать вас о наличии дорожных пробок и возможной задержке подачи эвакуатора. Автопарки наших партнеров находятся во многих районах Москвы, поэтому мы рекомендуем вам выбрать ближайший эвакуатор, чтобы ускорить процесс транспортировки авто.
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="advantage__fake"></div>
    </section>

    <!-- НЕ УСПЕЛ -->

    <!-- <section class="section about__weight weight"></section> -->
    <!-- <section class="section about__puzzle puzzle"> </section> -->

    <section class="section about__tabs tabs">
        <div class="main-container">
            <div class="tabs__list">
                <div class="tabs__tab" [class.tabs__tab--active]="activeTab === eTavValue.PRICE" (click)="setTabValue(eTavValue.PRICE)">
                    <span>Стоимость</span>
                </div>
                <div class="tabs__tab" [class.tabs__tab--active]="activeTab === eTavValue.ORDER" (click)="setTabValue(eTavValue.ORDER)">
                    <span>Как заказать</span>
                </div>
            </div>
            <div class="tabs__content">
                <ng-container *ngIf="activeTab === eTavValue.PRICE">
                    <div class="section__title">
                        <h2>Стоимость вызова эвакуатора для перевозки авто</h2>
                    </div>
                    <div class="section__block">
                        <div class="block__text">
                            <p>
                                На сайте Эварус представлены цены, выставленные перевозчиками за стандартную услугу эвакуации авто по Москве и области. Начальная стоимость транспортировки зависит от габаритов и веса ТС: перевозка мотоцикла/малолитражки будет стоить дешевле, чем внедорожника/минивена. Дороже всего обойдется эвакуация неисправной спецтехники и грузового транспорта.
                                <br/>
                                <br/>
                                <b>На стоимость услуги эвакуатора в Москве влияет ряд факторов:</b>
                            </p>
                        </div>
                        <div class="block__list">
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">класс, масса, степень повреждения транспортируемого авто</span>
                            </div>
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">первоначальное месторасположение ТС в Москве и дальность следования</span>
                            </div>
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">сложность погрузочно-разгрузочных операций</span>
                            </div>
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">дорожные и погодные условия Москвы</span>
                            </div>
                        </div>
                        
                        <div class="block__text">
                            <p>
                                Окончательная цена зависит от того, куда подавать эвакуатор и где впоследствии выгружать автомобиль: Москва это будет или Московская область. Транспортировка по МО оплачивается согласно прайсу, плюс тариф за каждый км пробега от МКАД. Суммарная оплата увеличится, если машина находится в кювете/яме/гараже/водоеме и подъезд к ней усложнен. Стоимость возрастет и при наличии заблокированных колес/рулевого управления или серьезного повреждения ТС.
                                <br/>
                                Все нюансы эвакуации авто вы сможете обсудить с перевозчиком. Ознакомившись с конкретной ситуацией, он озвучит цену и сроки подачи эвакуатора.
                                <br/>
                                <br/>
                                <b>В каких случаях возможно изменение стоимости услуги после прибытия эвакуатора к месту погрузки авто:</b>
                            </p>
                        </div>
                        <div class="block__list">
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">простой эвакуатора по вине клиента</span>
                            </div>
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">смена маршрута после размещения заказа</span>
                            </div>
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">непредвиденное усложнение эвакуации из-за неправильных/неполных данных о ТС</span>
                            </div>
                        </div>
                        
                        <div class="block__text">
                            <p>
                                Во избежание незапланированных трат, сообщите диспетчерской службе подробные сведения о своем автомобиле и обстоятельствах его поломки.
                            </p>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="activeTab === eTavValue.ORDER">
                    <div class="section__title">
                        <h2>Стоимость вызова эвакуатора для перевозки авто</h2>
                    </div>
                    <div class="section__block">
                        <div class="block__text">
                            <p>
                                Воспользовавшись онлайн-ресурсом Эварус, вы сократите время на поиск эвакуатора в Москве, МО и закажете услугу по оптимальной цене. Вам не придется обзванивать знакомых или долго искать телефон эвакуатора в интернете. Проанализируйте предложения на нашем сайте, выберите лучшие условия и стоимость перевозки. 
                                <br/>
                                <br/>
                                <b>Как вызвать эвакуатор с помощью онлайн-сервиса ТутЭвакуатор.Ру:</b>
                            </p>
                        </div>
                        <div class="block__list">
                            <div class="block__listItem">
                                <div class="block__listItemIndex">1</div>
                                <span class="block__listItemText">Ознакомьтесь с картой Москвы и Московской области, на которой желтыми маркерами обозначены стоянки эвакуаторов.</span>
                            </div>
                            <div class="block__listItem">
                                <div class="block__listItemIndex">2</div>
                                <span class="block__listItemText">Увеличьте масштаб и определите, какой из адресов находится рядом с местом вашей дислокации</span>
                            </div>
                            <div class="block__listItem">
                                <div class="block__listItemIndex">3</div>
                                <span class="block__listItemText">Выберите ближайший эвакуатор и нажмите на соответствующий маркер</span>
                            </div>
                            <div class="block__listItem">
                                <div class="block__listItemIndex">4</div>
                                <span class="block__listItemText">Просмотрите детальную информацию о перевозчике: возможные способы погрузки ТС, комплектацию автопарка, типы транспортируемых авто прайс с ценами</span>
                            </div>
                            <div class="block__listItem">
                                <div class="block__listItemIndex">5</div>
                                <span class="block__listItemText">Кликните по голубому полю внизу карточки перевозчика и возьмите телефонный номер компании</span>
                            </div>
                            <div class="block__listItem">
                                <div class="block__listItemIndex">6</div>
                                <span class="block__listItemText">Созвонитесь с диспетчером фирмы, обсудите детали эвакуации в Москве/МО и стоимость заказа</span>
                            </div>
                            <div class="block__listItem">
                                <div class="block__listItemIndex">7</div>
                                <span class="block__listItemText">Сравните цены и условия перевозки у нескольких компаний, выберите наиболее подходящий для себя вариант</span>
                            </div>
                        </div>
                        
                        <div class="block__text">
                            <p>
                                Окончательная цена зависит от того, куда подавать эвакуатор и где впоследствии выгружать автомобиль: Москва это будет или Московская область. Транспортировка по МО оплачивается согласно прайсу, плюс тариф за каждый км пробега от МКАД. Суммарная оплата увеличится, если машина находится в кювете/яме/гараже/водоеме и подъезд к ней усложнен. Стоимость возрастет и при наличии заблокированных колес/рулевого управления или серьезного повреждения ТС.
                                <br/>
                                Все нюансы эвакуации авто вы сможете обсудить с перевозчиком. Ознакомившись с конкретной ситуацией, он озвучит цену и сроки подачи эвакуатора.
                                <br/>
                                <br/>
                                <b>В каких случаях возможно изменение стоимости услуги после прибытия эвакуатора к месту погрузки авто:</b>
                            </p>
                        </div>
                        <div class="block__list">
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">простой эвакуатора по вине клиента</span>
                            </div>
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">смена маршрута после размещения заказа</span>
                            </div>
                            <div class="block__listItem">
                                <mat-icon class="block__listItemIcon" [svgIcon]="'list-checkmark'"></mat-icon>
                                <span class="block__listItemText">непредвиденное усложнение эвакуации из-за неправильных/неполных данных о ТС</span>
                            </div>
                        </div>
                        
                        <div class="block__text">
                            <p>
                                Во избежание незапланированных трат, сообщите диспетчерской службе подробные сведения о своем автомобиле и обстоятельствах его поломки.
                            </p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</div>